<div id="<%= dom_id box %>" class="box">
  <strong><%= box.bid %></strong>

  <div class="is-flex is-justify-content-space-between">
    <p>
      <%= box.description %>
    </p>

    <%= link_to "show", box_path(box) %>
  </div>


</div>

